<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Node.Js + MySQL</title>
</head>
<body>
  <nav id="navbar">
    <ul>
      <li><a href="/">Página Inicial</a></li>
      <li><a href="/register">Cadastrar Novo Livro</a></li>
      <li><a href="/books">Meus Livros</a></li>
    </ul>
  </nav>
  {{{body}}}
</body>
</html>