<h1>Cadastre o seu livro</h1>

<div class="formContainer">
  <form class='form' action="/books/insertbook" method="POST">
<div class="form-control">
<label for="title">Título:</label>
<input type="text" name="title" placeholder="Digite o título">
</div>
<div class="form-control">
<label for="autor">Autor:</label>
<input type="text" name="autor" placeholder="Digite o autor">
</div>
<div class="form-control">
<label for="pages">Páginas:</label>
<input type="number" name="pagesqty" placeholder="Quantas páginas o livro tem?">
</div>
<div class="form-control">
  <label for="resume">Resenha:</label>
  <textarea name="resume" id="resume" cols="30" rows="10" placeholder="O que achou do livro?"></textarea>
</div>
<div class="form-control">
<label for="pages">Data de término:</label>
<input type="date" name="date" id="date">
</div>
<div class="form-control">
  <label for="rating">Qual a sua nota para o livro?</label>
  <select name="rating" id="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
</div>
<input type="submit" value="Cadastrar">
</form>
</div>